<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>878705361744-2shqv4ii07frqlrm8kcpadcn75nbrjck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.878705361744-2shqv4ii07frqlrm8kcpadcn75nbrjck</string>
	<key>API_KEY</key>
	<string>AIzaSyDQHFFghsY1RnWkgjXaGjXXfIfWWODbOxE</string>
	<key>GCM_SENDER_ID</key>
	<string>878705361744</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ogi.test.GeoHashingOnMapKit</string>
	<key>PROJECT_ID</key>
	<string>geohashing-6bb5e</string>
	<key>STORAGE_BUCKET</key>
	<string>geohashing-6bb5e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:878705361744:ios:159d855c9f49d6ae2a2255</string>
	<key>DATABASE_URL</key>
	<string>https://geohashing-6bb5e.firebaseio.com</string>
</dict>
</plist>
